<div class="container">

  <div class="row tex-center"><h1>My bookings</h1></div>

  <div class="row">
      <!-- =======================
      Booking card START -->
      <% @my_bookings.each do |booking| %>
        <% if booking.status == "pending"%>
          <div class="notification notification-pending">
            <% if booking.offer.user.photo.attached? %>
              <%= cl_image_tag(booking.offer.user.photo.key, crop: :fill, class:"avatar-large")%>
            <% else %>
              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
            <% end %>
            <div class="notification-content">
              <p><%= booking.offer.user.nickname %></p>
              <p><small>from <%= booking.start_date.strftime("%d/%m/%Y %H:%M") %> to <%= booking.end_date.strftime("%d/%m/%Y %H:%M") %></small></p>
            </div>
            <div class="status-pending" ><%= booking.status.capitalize %></div>
            <div class="notification-actions">
              <%= link_to my_bookings_path(current_user), data: { turbo_method: :delete,  turbo_confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        <% end %>


        <% if booking.status == "validated"%>
          <div class="notification-validated">
            <% if booking.offer.user.photo.attached? %>
              <%= cl_image_tag(booking.offer.user.photo.key, crop: :fill, class:"avatar-large")%>
            <% else %>
              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
            <% end %>
            <div class="notification-content">
              <p><%= booking.offer.user.nickname %></p>
              <p><small>from <%= booking.start_date.strftime("%d/%m/%Y %H:%M") %> to <%= booking.end_date.strftime("%d/%m/%Y %H:%M") %></small></p>
            </div>
            <div class="status-validated" ><%= booking.status.capitalize %></div>
            <div class="notification-actions">
              <%= link_to my_bookings_path(current_user), data: { turbo_method: :delete,  turbo_confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
        <% end %>


        <% if booking.status == "canceled"%>
          <div class="notification notification-canceled">
            <% if booking.offer.user.photo.attached? %>
              <%= cl_image_tag(booking.offer.user.photo.key, crop: :fill, class:"avatar-large")%>
            <% else %>
              <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
            <% end %>
            <div class="notification-content">
              <p><%= booking.offer.user.nickname %></p>
              <p><small>from <%= booking.start_date.strftime("%d/%m/%Y %H:%M") %> to <%= booking.end_date.strftime("%d/%m/%Y %H:%M") %></small></p>
            </div>
            <div class="status-canceled" ><%= booking.status.capitalize %></div>
            <div class="notification-actions">
              <%= link_to my_bookings_path(current_user), data: { turbo_method: :delete,  turbo_confirm: "Are you sure?" } do %>
                <i class="far fa-trash-alt" aria-hidden="true"></i>
                <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <!-- =======================
      Booking card END -->
  </div>
</div>
