<!-- =======================
Banner START -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?Date/);">
  <div class="container">
    <h1>Chingudate <strong>helps you</strong> to <strong>create your perfect couple </strong>!</h1>
    <p>Create your couple for a spacial event.</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
<!-- =======================
Banner END -->

<!-- =======================
Author info START -->
<% @offers.each do |offer| %>
	<div class="container">
    <div class="card-trip mt-5 mb-5">
      <img src="https://source.unsplash.com/random/?Lovely/" />
      <div class="card-trip-infos">
        <div>
          <h2><%= offer.user.nickname %></h2>
          <h3><%= offer.title %></h3>
          <p><%= offer.description %></p>
          <h4>Available from <%= offer.start_date %> to <%= offer.end_date %></h4>
          <%= link_to "More info", offer_path(offer) %>
        </div>
        <h2 class="card-trip-pricing">€99.99</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
  </div>
<% end %>
<!-- Author info END -->
