<!-- =======================
Banner START -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/random/?Date/);">
  <div class="container">
    <h1>Chingudate <strong>helps you</strong> to <strong>create your perfect couple </strong>!</h1>
    <p>Create your couple for a spacial event.</p>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
<!-- =======================
Banner END -->

<% @offers.each do |offer| %>
  <!-- =======================
  Author info START -->
  <div class="container">
    <div class="card-trip mt-5 mb-5 rounded">
      <%= link_to offer_path(offer) do %>
      <% if offer.picture.attached? %>
      <%= cl_image_tag(offer.picture.key, crop: :fill) %>
      <% else %>
      <img src="https://source.unsplash.com/random/?Lovely/" />
      <% end %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= offer.user.nickname %></h2>
          <h3><%= offer.title %></h3>
          <p><%= offer.description %></p>
        </div>
        <h4><%= offer.start_date.strftime("%d/%m/%Y at %I:%M%p") %> to <%= offer.end_date.strftime("%d/%m/%Y at %I:%M%p")%></h4>
        <%# <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> %>
        <%= cl_image_tag(offer.user.photo.key, class: "card-trip-user avatar-bordered", crop: :fill) %>
      </div>
    </div>
  </div>
  <!-- Author info END -->
  <% end %>
